{% extends "_base.html" %}

{% block title %}Change Password{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-8 col-lg-5">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Change Password</h1>
                </div>

                <div class="card-body">
                    <!--    Message Section             -->
                    {% if msg %}
                    {% if msg == 'Password Updated!' %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                    {% endif %}
                    {% endif %}
                    <!--  end Message Section             -->

                    <form method="post">

                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control"
                                   placeholder="Username Here..."
                                   required
                            >
                        </div>

                        <div class="mb-3">
                            <label for="old_password">Old Password</label>
                            <input type="password" id="old_password" name="old_password"
                                   class="form-control"
                                   placeholder="Old Password Here..."
                                   required
                            >
                        </div>

                        <div class="mb-3">
                            <label for="new_password">New Password</label>
                            <input type="password" id="new_password" name="new_password"
                                   class="form-control"
                                   placeholder="New Password Here..."
                                   required
                            >
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Change Password</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}