{% extends "_base.html" %}

{% block title %}Edit Todo{% endblock %}


{% block content %}
     <div class="container">
         <div class="card">
             <div class="card-header">
                 Let's Edit your Todo
             </div>

             <div class="card-body">
                 <form method="post">

                     <div class="mb-3">
                         <label for="title">Title</label>
                         <input type="text" name="title" id="title" class="form-control"
                            placeholder="Title Here..."
                            value="{{ todo.title }}"
                            required
                         >
                     </div>

                     <div class="mb-3">
                         <label for="description">Description</label>
                         <textarea type="text" id="description" name="description"
                           class="form-control"
                           placeholder="Description Here..."
                           required
                         >{{ todo.description }}</textarea>
                     </div>

                     <div class="mb-3">
                         <label for="priority">Priority</label>
                         
                         <select class="form-select" aria-label="Default select example" name="priority">
                            <option>Select your Priority</option>
                            <option {% if todo.priority == 1 %}selected{% endif %}>1</option>
                            <option {% if todo.priority == 2 %}selected{% endif %}>2</option>
                            <option {% if todo.priority == 3 %}selected{% endif %}>3</option>
                            <option {% if todo.priority == 4 %}selected{% endif %}>4</option>
                            <option {% if todo.priority == 5 %}selected{% endif %}>5</option>
                        </select>
                         
                     </div>

                     <button type="submit" class="btn btn-primary">Edit Your Todo</button>
                     <button type="button"
                             onclick="window.location.href='/todos/delete/{{todo.id}}'"
                             class="btn btn-danger">Delete Your Todo</button>

                 </form>
             </div>

         </div>
     </div>
{% endblock %}