{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
    <div class="card text-center">
        <div class="card-header">
            Your Todos
        </div>
        <div class="card-body">
            <h5 class="card-title">List Of Your Todos!</h5>
            <p class="card-text">
                Information
            </p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="pointer">
                    <td>1</td>
                    <td>Take of the trash</td>
                    <td>
                        <button class="btn btn-success">Complete</button>
                        <button class="btn btn-danger">Delete</button>

                    </td>
                </tr>

                    <tr class="pointer">
                    <td>2</td>
                    <td>Take of the trash</td>
                    <td>
                        <button class="btn btn-success">Complete</button>
                        <button class="btn btn-danger">Delete</button>

                    </td>
                </tr>

                    <tr class="pointer">
                    <td>3</td>
                    <td>Take of the trash</td>
                    <td>
                        <button class="btn btn-success">Complete</button>
                        <button class="btn btn-danger">Delete</button>

                    </td>
                </tr>
                </tbody>
            </table>

            <a  class="btn btn-primary" href="#">Add new Todo</a>
        </div>
    </div>
</div>
{% endblock %}

